<h1>Sign Up Page!</h1>

<% if @user.errors.any? %>
  <div>
    <p>Looks like there are some errors in your submission</p>
    <p>Please fix them to post your tune</p>
    <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<center>
  <form class="pure-form" method='post' action="/signup">
    <feildset class="pure-group">
        <input class="pure-input-1-2" type="text" name="name" placeholder="Username">
        <input class="pure-input-1-2" type="text" name="email" placeholder="Email">
        <input class="pure-input-1-2" type="password" name="password" placeholder="Password">
    </feildset>
    <br>
    <button type="submit" name="submit">Sign me up!</button>
  </form>
</center>