<center>

  <h1> ALL DEM MUSICS </h1>

  <h3><a href = "songs/new">Why not add a track to the list?</a></h3>

  <div class="pure-g">
    <% @songs.each do |song|%>
      <div class="pure-u-1-3">
        <h2>
          <% if song.url.present? %>
            <a href=<%= song.url %> target="_blank">
          <% end %>

          <%= song.title %>

          <% if song.url.present? %>
            </a>
          <% end %>
        </h2>
        <h3><%= song.artist %></h3>
        <h5>(Posted by <%= song.user.email %>)</h5>
      </div>
    <% end %>
  </div>

</center>
