<h1> ALL DEM MUSICS </h1>
<% @songs.each do |song|%>
  <h2>

    <% if song.url.present? %>
      <a href=<%= song.url %> target="_blank">
    <% end %>

    <%= song.artist %> - <%= song.title %>

    <% if song.url.present? %>
      </a>
    <% end %>

  </h2>

  <h5>(Posted by <%= song.author.name %>)</h5>
<% end %>
