
<% if @song.errors.any? %>
  <div>
    <p>Looks like there are some errors in your submission</p>
    <p>Please fix them to post your tune</p>
    <ul>
    <% @song.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<center>

  <form class="pure-form" method='post' action="/songs">
    <feildset class="pure-group">
        <input class="pure-input-1-2" type="text" name="title" value="<%= @song.title %>" placeholder="Song Title">
        <input class="pure-input-1-2" type="text" name="artist" value="<%= @song.artist %>" placeholder="Artist">
        <input class="pure-input-1-2" type="text" name="url" value="<%= @song.artist %>" placeholder="Song URL (Optional)">
    </feildset>

    <button type="submit" name="submit">Post my jam!</button>
  </form>
  <a href = "/logout"> LOGOUT ME </a>
</center>