<h1> This is the login </h1>

<center>
  <form class="pure-form" method='post' action="/login">
    <feildset class="pure-group">
        <input class="pure-input-1-2" type="text" name="name" placeholder="Username">
        <input class="pure-input-1-2" type="password" name="password" placeholder="Password">
    </feildset>
    <br>
    <button type="submit" name="submit">Login</button>
  </form>
</center>